*:focus-visible{
  outline: 0;
}

body{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  background-image: url(imgs/fundo.jpg);
    background-repeat: repeat;
  background-size:cover;
}
form{
  position: absolute;
  top: 20px;
  width: 90vw;
  padding: 0px;
  display: flex;
  min-width: 200px;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 210, 177, 0);
  border: 1px rgba(0, 0, 0, 0) solid;
  padding-left: 3px;
  padding-right: 3px;
} 

h1{
  line-height: 2rem;
  font-size: 4rem;
  text-align: center;
  background-color: rgba(30, 210, 177, 0);
  color: black;  
  transition: 1s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.207);
  padding-top: 0px;
  padding-bottom: 5px;;
  margin-bottom: 35px;
  
}

div{  
  width: 95vw;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}

div{
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(252, 252, 252, 0.693);
  color: black;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  height: 38px;
  width: 90%;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.638);
}

div>input{
  color: black;
  padding-left: 10px;
  height: 30px;
  width: 100%;
  height: 2.1rem;
  font-size: 1.4rem;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);

}



/* button adicionar */
#addTask{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(146, 237, 134);
  color: rgb(148, 245, 135);
  background-color: rgba(252, 252, 252, 0);
  cursor: pointer;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: 4px;
  width: 30px;
  font-size: 2.5rem;
  height: 30px;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.487);
}
 

ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

li{
  width: 100%;
  height: 2.5rem;
  display: flex;
  font-size: 1.4rem;
  list-style-type: none;
  border: 1px rgba(0, 0, 0, 0.344) solid;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
  margin-bottom: 10px;
  background-color: rgba(252, 252, 252, 0.693);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.638);
}

li:hover{
    background-color: rgba(255, 255, 255, 0.83);
    box-shadow: 0 0 0.4em rgb(0, 0, 0);
}

label{
  text-overflow: clip;
  font-size: 1.4rem;
  margin-right: auto;
}

.checked{
  text-decoration-line: line-through;
  color: black;
}

.checkbox {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid rgb(0, 0, 0);
  appearance: none ;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0);
  background-color: rgb(154, 253, 141);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.57);
  border: 3px solid rgb(25, 44, 55);
}

.checkbox:checked {
  margin-left: 6.5px;
  width: 23px;
  height: 23px;
  transition: 0.2s;
  background-color: rgb(141, 192, 141);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.57);
  border: 3px solid rgb(25, 44, 55);
  margin-right: 6.5px;
}
li button{
  margin-left: 5px;
  width: 26px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  appearance: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  margin-right: 5px;
  color: rgb(255, 0, 0);
  border: 2.5px solid rgb(255, 0, 0);
  box-shadow: 0 0 0.2rem rgb(0, 0, 0);
}