*:focus-visible{
  outline: 0;
}

body{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(245, 251, 252);

}
form{
  margin-top: 1px;
  width: 99vw;
  padding: 0px;
  display: flex;
  min-width: 200px;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(30, 210, 177, 0);
  border: 1px rgba(0, 0, 0, 0) solid;
  padding-left: 3px;
  padding-right: 3px;
}

label{
  font-size: 3.8rem;
  width: 100%;
  text-align: center;
  background-color: rgba(30, 210, 177, 0);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px; 
  margin-bottom: 0.3;
  color: black;  
  transition: 1s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.207);
  padding-top: 5px;
  padding-bottom: 5px;;
  margin-bottom: 19px;
  
}

label:hover{
  letter-spacing: 1px;
}

input{
  border: 1px solid black;
  background-color: rgba(232, 231, 231, 0.097);
  color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
  height: 25px;
  width: 70%;
  height: 1.8rem;
  font-size: 1.4rem;
  margin-right: 5px;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.638);
}

/* button adicionar */
#addTask{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(76, 130, 124);
  color: rgb(104, 144, 151);
  background-color: rgba(255, 255, 240, 0);
  cursor: pointer;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 35px;
  font-size: 3rem;
  height: 35px;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}
  

#addTask:hover{
  border-color:rgb(43, 168, 196);
  color: rgb(45, 174, 202);
  box-shadow: 0 0 0.2rem rgb(0, 0, 0);

}

form>div{
  display: flex;
  justify-content: center;

}

ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

ul div{
  width: 100%;
  display: flex;
  border: 1px rgba(0, 0, 0, 0.344) solid;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 7px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgba(232, 231, 231, 0.097);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.638);
}

ul div:hover{
  background-color: rgba(245, 245, 245, 0.597);

}

li{
  width: 100%;
  height: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:black;
  font-size: 1.4rem;
}

.checked{
  text-decoration-line: line-through;
  color: black;
}

.checkbox {
  width: 1.6rem;
  height: 1.6rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid rgb(0, 0, 0);
  appearance: none ;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0);
}

.checkbox:checked {
  background-color: rgb(200, 247, 255);
  box-shadow: 0 0 0.2rem rgb(0, 0, 0);
  border: 3px solid rgb(25, 44, 55);
}
.checkbox:hover{
  background-color: rgb(200, 247, 255);
  border: 3px solid rgb(25, 44, 55);
  box-shadow: 0 0 0.2rem rgb(0, 0, 0);
}
ul button{
  margin-left: 5px;
  width: 1.7rem;
  height: 1.6rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid rgb(0, 0, 0);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  margin-right: 5px;
  /* background-image: url(imgs/trash.png); */
}
ul button:hover{
    color: rgb(255, 0, 0);
    border: 3px solid rgb(25, 44, 55);
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 0.2rem rgb(0, 0, 0);
}